{% extends "layout.html" %}

{% block title %}Review words in set "{{ the_set['name'] }}" {% end %}

{% block body_class %}flip-dict{% end %}
    
{% block content %}
    {% include fliper.html %}
{% end %}

{% block javascript %}
    <script src="{{ static_url('js/jquery.hotkeys.js') }}"></script>
    <script src="{{ static_url('js/fliper/abstract.js') }}"></script>
    <script src="{{ static_url('js/fliper/set.js') }}"></script>
    <script src="{{ static_url('js/fliper/dict.js') }}"></script>
    <script>
    $(function() {
        dict = new DictFliper()
        dict.set_list({% raw words_list %});
        dict.listen();
        dict.bind();
    });
    </script>
{% end %}
